#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "spacedeck"
name = "Spacedeck"
description.en = "Real time, collaborative whiteboard application with rich media support"
description.fr = "Tableau blanc collaborative en temps réel basée avec prise en charge de médias riches"

version = "2023.09.21~ynh1"

maintainers = ["tituspijean"]

[upstream]
license = "AGPL-3.0-only"
code = "https://github.com/spacedeck/spacedeck-open"

[integration]
yunohost = ">=11.2"
helpers_version = "2.1"
architectures = ["amd64"]
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "300M"
ram.runtime = "20M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/spacedeck/spacedeck-open/archive/a5914ab600e9f4ae3f42d9361195a3696843903e.tar.gz"
    sha256 = "6a3fa976dc05a84c9f006bad0fe73518443f4060c04398168153e9dd1f97d5e1"

    autoupdate.strategy = "latest_github_commit"
    autoupdate.asset = "tarball"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["storage"]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095

    [resources.apt]
    packages = [
        "graphicsmagick",
        "ffmpeg",
        "ghostscript",
    ]
